<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat-Da-Burger!</title>
	<link rel="stylesheet" type="text/css" href="./../../public/stylesheets/main.css">
</head>

<body>
  <!-- 3 handlesbars to ensure it's rendered as pure HTML -->
	{{{ body }}}
</body>
</html>
